.button {
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.65rem;
  padding: 5px 35px;
  box-sizing: border-box;
}

a.button {
  text-decoration: none !important;
}

.button:hover {
  cursor: pointer;
}

.button.large {
  padding: 8px 50px 8px 50px;
  --bHeight: calc(1.5rem + 16px) !important;
  --aShadow: -10px -8px var(--lightPrimary), 10px 8px var(--primary);
}

.button:disabled {
  color: var(--gray) !important;
  cursor: inherit;
  border-color: var(--gray);
  background: var(--lightGray);
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.button.buttonA {
  box-shadow: none;
  box-shadow: 0px 0px var(--lightPrimary), 0px 0px var(--primary);
  -webkit-box-shadow: 0px 0px var(--lightPrimary), 0px 0px var(--primary);
  -moz-box-shadow: 0px 0px var(--lightPrimary), 0px 0px var(--primary);
  transition: box-shadow 0.5s ease;
  --aShadow: -8px -6px var(--lightPrimary), 8px 6px var(--primary);
}
  
.button.buttonA:hover {
  box-shadow: var(--aShadow);
  -webkit-box-shadow: var(--aShadow);
  -moz-box-shadow: var(--aShadow);
  transition: box-shadow 0.5s ease;
} 

.button.buttonB {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='465pt' height='317pt' viewBox='0 0 465 317'%3E%3Cdefs/%3E%3Cellipse id='shape0' rx='232.5' ry='158.5' cx='232.5' cy='158.5' fill='%23274ae6' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 110%;
  animation: circleLeave ease 0.5s;
  animation-fill-mode: forwards;
  transition: color 0.2s ease 0.1s;
  --bHeight: calc(1.5rem + 10px)
}
  
.button.buttonB:hover {
  animation: circleEnter ease 0.5s;
  background-position: center center;
  color: var(--bg);
}

.button.buttonA.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
  box-shadow: 0px 0px var(--lightSecondary), 0px 0px var(--secondary);
}

.button.buttonA.secondary:hover {
  box-shadow: -10px -8px var(--lightSecondary), 10px 8px var(--secondary);
}

.button.buttonA.danger {
  color: var(--danger);
  border-color: var(--danger);
  box-shadow: 0px 0px var(--lightDanger), 0px 0px var(--danger);
}

.button.buttonA.danger:hover {
  box-shadow: -10px -8px var(--lightDanger), 10px 8px var(--danger);
}

.iconButton {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
}

.iconButton:disabled .iconBg,
.iconButton:disabled  svg {
  opacity: 25%;
  transform: translateX(0) rotate(0deg) !important;
}

.iconButton.medium, .iconButton.medium svg {
  display: block;
  width: 2rem !important;
  height: 2rem !important;
}

.iconButton.small, .iconButton.small svg {
  display: block;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.iconButton.large, .iconButton.large svg {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.iconButton .iconBg,
.iconButton .buttonIcon {
  position: absolute;
  top: 0;
}

.iconButton .iconBg {
  transition: transform 0.5s ease;
}

.iconButton .iconBg svg,
.iconButton .iconBg svg path {
  fill: var(--lightPrimary) !important;
}

.iconButton .iconBg .light svg,
.iconButton .iconBg .light svg path {
  fill: var(--lightPrimary) !important;
  opacity: 55%;
}

.iconButton:hover .iconBg {
  transform: translateX(6px) rotate(10deg);
}

.button.buttonC {
  box-sizing: border-box;
  position: relative;
  background-color: var(--primary);
  color: var(--bg);
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.button.buttonC.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.button.buttonC.secondary:hover {
  color: var(--secondary);
}

.button.buttonC.danger {
  background-color: var(--danger);
  border-color: var(--danger);
}

.button.buttonC.danger:hover {
  color: var(--danger);
}

.button.buttonC:disabled {
  background-color: var(--lightGray) !important;
  color: var(--gray) !important;
  transform: scale(100%) !important;
  box-shadow: none !important;
  border-color: var(--lightGray);
}

.button.buttonC.pressed {
  animation: bounce 0.75s cubic-bezier(0.280, 0.840, 0.420, 1) 0s;
}

.button.buttonC.active {
  transform: scale(95%);
  box-shadow: none !important;
}

.button.buttonC:hover {
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.35);
  background-color: var(--bg);
  color: var(--primary);
}

@keyframes bounce {
  0% {
    transform: scale(95%);
    transition: box-shadow 0s ease;
  }
  20% {
    transform: scale(105%);
    box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.35);
    transition: box-shadow 0s ease;
  }
  30% {
    transform: scale(99%);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.35);
    transition: box-shadow 0s ease;
  }
  40% {
    transform: scale(102%);
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.35);
    transition: box-shadow 0s ease;
  }
  100% {
    transform: scale(100%);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.35);
    transition: box-shadow 0s ease;
  }
}

.button.buttonC span {
  position: relative;
  z-index: 1;
}

.button.buttonC .test {
  position: absolute;
  box-sizing: border-box;
  border-radius: 0.60rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  border: 5px solid var(--bg);
}

.button.buttonC .test:hover {
  background-color: var(--lightPrimary);
}
  
@keyframes circleEnter {
  0% {
    background-position: bottom var(--bHeight) center;
  }
  
  100% {
    background-position: center center;
  }
}

@keyframes circleLeave {
  0% {
    background-position: center center;
  }
  
  100% {
    background-position: top var(--bHeight) center;
  }
}

.button.buttonB.hideAni {
  background-image: none;
}