.base {
  background: var(--white);
  margin: 10px;
  font-size: 1.1rem;
  font-family: inherit;
}

html {
  color: var(--gray);
}

a {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

.link {
  color: var(--secondary);
  font-size: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

input {
  color-scheme: var(--colorScheme);
}

.link:hover, 
a:hover {
  text-decoration: underline;
}

.pastDue {
  color: var(--danger);
}

.plr:first-of-type {
  margin-top: inherit
}

.plr {
  padding: 0 10px 0 10px;
  margin: 2rem 0 0.75rem 0;
}

.warn {
  color: var(--warn);
}

.danger {
  color: var(--danger);
}

.sectionHeader {
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.17rem;
}

h1, h2, h3 {
  margin: 0.75rem 0 0.75rem 0;
}

p {
  margin: 0.5rem 0 0.5rem 0;
}

button:hover {
  cursor: pointer;
}