.textInputLabel {
  display: inline-block;
  font-size: 1.17rem;
  font-weight: bolder;
  width: fit-content;
}

.textInputLabel input, input.textInput {
  box-sizing: border-box;
}

/*
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: var(--gray) !important;
}
*/

.textInputLabel .textInput.full {
  width: 100%;
}

.textInputLabel .textInput {
  margin: 0;
}

.textInputLabel span {
  line-height: 2rem;
}

.textInput {
  border: 2px solid var(--gray);
  color: var(--gray);
  border-radius: 0.3rem;
  padding: 7px 10px 10px 10px;
  vertical-align: middle;
  width: fit-content;
}

.textInput:focus {
  outline: none;
  border-color: var(--primary);
}

.textInput.medium, .textInputLabel.medium {
  width: 20rem;
}

.textInputLabel.full, .textInput.full {
  width: calc(100% - 20px);
}

.deleteSearch {
  position: absolute;
  display: inline-block;
  right: 0px;
  margin: 18px 20px 0 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}