.textInput {
  border: 2px solid var(--gray);
  color: var(--gray);
  border-radius: 0.3rem;
  padding: 7px 10px 10px 10px;
  vertical-align: middle;
}

.textInput:focus {
  outline: none;
  border-color: var(--blue);
}

.textInput.medium {
  width: 20rem;
}

.textInput.full {
  width: calc(100% - 20px - 20px - 0.3rem);
}