.card {
  padding: 10px;
  width: fit-content;
  word-break: break-word;
  border-radius: 0.3rem;
  display: inline-block;
}

.card .content {
  width: 100%;
  border-radius: 0.3rem;
  border: 2px solid var(--lightGray);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
  color: var(--gray);
  margin: 0;
}

.card.full {
  width: calc(100% - 20px);
}

.card.medium {
  width: 20rem;
}

.card .content .cardTitle {
  border-radius: 0.19rem 0.19rem 0 0px;
  box-shadow: 0 0 0 2px var(--primary);
	color: var(--bg);
	background-color: var(--primary);
	padding: 10px;
}

.card .content .cardTitle h3 {
  margin: 0;
}

.card .content .body {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.card.click {
  cursor: pointer;
  transition: transform 0.2s ease 0s;
}

.card.click:hover {
  transform: scale(105%);
}

.card.click:hover .content {
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
}

/*
.test {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 0 0 0.19rem 0.19rem;
    background: radial-gradient(circle, rgba(255,255,255,0.8436624649859944) 13%, rgba(255,255,255,0) 69%);
    
  }
  */