.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}

.loginContainer .login {
  border-radius: 0.65rem;
  background-color: var(--bg);
  color: var(--gray);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  color: #606060 !important;
  background-color: white !important;
  transition: max-height 0.5s ease;
}

.loginContainer .login input {
  color: #606060;
}

.loginContainer .login .loading {
  position: absolute;
  background-color: var(--bg);
  width: 100% !important;
  height: 100%;
  bottom: 0;
  top: 0;
  z-index: 2;
}

.loginContainer .login .new.loading {
  min-height: 830px;
}

.loginContainer .login .account,
.loginContainer .login .new {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.loginContainer .login .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loginContainer .login .account .submit {
  align-self: center;
  width: 50%;
}

.loginContainer .login .account .phoneInput {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.loginContainer .login .account .phoneInput .countryCode {
  width: fit-content;
}

.loginContainer .login .account .link {
  margin-left: 10px !important;
}

.loginContainer .login .account .phoneInput .countryCode input {
  width: 100%;
}

.loginContainer .login .account .link,
.loginContainer .login .account .socials {
  margin-left: 10px;
}

.loginContainer .login .account .socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.loginContainer .login .account .socials .socialButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.loginContainer .login .error,
.loginContainer .login .success {
  width: min-content;
  flex: 0 0 100%;
  color: var(--gray);
  background-color: var(--lightDanger);
  text-align: center;
  padding: 5px 0 5px 0;
}

.loginContainer .login .success {
  background-color: var(--lightPrimary);
}

.loginContainer .login .new {
  font-size: 1.5rem;
  margin-right: 10px;
}

.loginContainer .login .new h2 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .loginContainer {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 700px) {
  .loginContainer .login .account,
  .loginContainer .login .new {
    flex: 0 0 100%;
  }

  .loginContainer .login .account .socials {
    margin-left: 0;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    width: 100%;
  }
  
  .loginContainer .login .new {
    padding-bottom: 20px;
    padding: 0 20px 20px 20px;
  }

  .loginContainer .login .new h2 {
    margin-bottom: 0.75rem;
  }
}